[Desktop Entry]
Encoding=UTF-8
Type=Application
Terminal=false

Name=kd163PhotoDownloader
Version=1.0.2
Comment=netease photo downloader
Comment[zh_CN]=网易相册下载工具
Categories=Network;
Exec=kd163PhotoDownloader
Icon=kd163PhotoDownloader
